# Default ignored files
/../../../:LuminaryCLI/.idea/shelf/
/../../../:LuminaryCLI/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:LuminaryCLI/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:LuminaryCLI/.idea/dataSources/
/../../../:LuminaryCLI/.idea/dataSources.local.xml
